:root{

--bg:#07111F;
--panel:#0B1728;
--panel2:#102238;

--border:rgba(83,143,255,.18);

--text:#F2F6FC;
--muted:#AEB7C5;

--primary:#2F80ED;
--primary2:#4DA3FF;

--radius:20px;

--shadow:0 0 35px rgba(33,99,196,.12);

}

html,
body,
.stApp{

background:#07111F;

color:var(--text);

}

.section{

max-width:1400px;

margin:auto;

padding:40px 0;

}

.panel{

background:linear-gradient(180deg,#0B1728,#102238);

border:1px solid var(--border);

border-radius:var(--radius);

box-shadow:var(--shadow);

}

.title{

font-size:56px;

font-weight:800;

line-height:1.15;

color:white;

}

.subtitle{

font-size:20px;

color:var(--muted);

line-height:1.8;

}

.heading{

font-size:38px;

font-weight:700;

color:white;

margin-bottom:18px;

}

.card{

background:linear-gradient(180deg,#102238,#0C1828);

border:1px solid var(--border);

border-radius:18px;

padding:24px;

height:170px;

transition:.25s;

}

.card:hover{

transform:translateY(-3px);

border-color:#4DA3FF;

box-shadow:0 0 30px rgba(60,140,255,.22);

}

.hero-button{

background:linear-gradient(90deg,#2F80ED,#4DA3FF);

border-radius:12px;

padding:14px 30px;

color:white;

font-weight:700;

}

.small-label{

font-size:12px;

letter-spacing:2px;

color:#6FAEFF;

text-transform:uppercase;

}

.divider{

border-top:1px solid rgba(255,255,255,.08);

margin:50px 0;

}
